@model MyPortfolio
@{
    ViewData["Title"] = "UpdateMyPortfolio";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>UpdateMyPortfolio</h1>

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Portfoliolar</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Portfolio Güncelleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<input type="hidden" asp-for="MyPortfolioId" />
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>AltBaşlık</label>
							<input type="text" asp-for="SubTitle" class="form-control" />
							<br />
							<label>Image URL</label>
							<input type="text" asp-for="ImageUrl" class="form-control" />
							<br />
							<label>URL</label>
							<input type="text" asp-for="Url" class="form-control" />
							<br />
							<label>Açıklama</label>
							<input type="text" asp-for="Description" class="form-control" />
							<br />
							<button class="btn btn-warning">Portfolioyı Güncelle</button>
						</form>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
